################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/FlaskMagazine/env
/.vs/FlaskMagazine/v16
/FlaskMagazine/FlaskMagazine/__pycache__
/FlaskMagazine/FlaskMagazine.pyproj.user
