################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/FlaskMagazine/env/Lib/site-packages
/FlaskMagazine
/.vs/FlaskMagazine/v16
