################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/FlaskMagazine/env
/FlaskMagazine
/.vs/FlaskMagazine/v16
